@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    background-color: #141414;
    color: #8A8A8A;
    overflow: hidden;
    font-family: 'Bona Nova', serif;
}

button {
    all: unset;
    cursor: pointer;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pomodoro__buttons {
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pomodoro__buttonsBox {
    display: flex;
    gap: 3.5em;
    font-size: 26px;
}

.button__timer,
.button__short,
.button__long {
    border: 1px solid;
    padding: .25em;
    transition: 250ms;
}

.active {
    border: 1px solid #fff;
    color: #fff;
}

.pomodoro__watch {
    width: 990px;
    height: 550px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px solid #8A8A8A;
}

.watch__box {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.watch__round,
.watch__start {
    font-size: 26px;
}

.watch__round span {
    border-radius: 50%;
    border: 1px solid;
    padding: 0 .25em;
    text-align: center;
    margin-left: 10px;
    font-weight: 700;
    font-size: 32px;
}

.watch__time {
    font-family: 'Bona Nova';
    font-weight: 400;
    font-size: 292px;
    margin-bottom: 90px;
}

.pomodoro__start {
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch__start {
    padding: .25em;
    border: 1px solid;
    transition: 250ms;
}

.watch__start:hover {
    color: #141414;
    background-color: #8A8A8A;
}


@media (max-width: 767px) {
    main {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .pomodoro__watch {
        width: 80%;
        height: 50%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 15px solid #8A8A8A;
    }
    .watch__time {
        font-family: 'Bona Nova';
        font-weight: 400;
        font-size: 92px;
    }
}
/* DOING ANIMATION */